<div class="container">
  <div class="flash-message">
    <% if flash[:notice] %>%
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
  <div class="index">
    <h2>予定一覧</h2>
    <%= button_to new_event_path, {method: :get, class: "btn"} do %>
      <i class="fa-regular fa-calendar-plus"></i> 予定を追加
    <% end %>
  </div>
  <div class="schedule-list">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>終日</th>
          <th>更新日時</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= event.title %></td>
            <td><%= event.startdate.strftime("%Y/%m/%d") %></td>
            <td><%= event.enddate.strftime("%Y/%m/%d") %></td>
            <td><%= event.allday %></td>
            <td><%= event.updated_at %></td>
            <td><%= link_to "詳細", event_path(event) %></td>
            <td><%= link_to "編集", edit_event_path(event) %></td>
            <td><%= link_to "削除", event_path(event), method: :delete, data: {confirm: "この予定を削除してよろしいですか？この操作は取り消せません"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="overview">
    <p>予定合計 <span><%= @count %></span> 件</p>
    <p>本日の日付 <%= Date.today %></p>
  </div>
</div>
